header {
  max-width: 960px;
  margin: 60px auto;
  margin-bottom: 20px;
}

.container {
  display: flex;
  margin: auto;
  max-width: 960px;
}

.leftSide {
  flex: 1;
  margin-right: 40px;
}

.leftSide h1 {
  color: #3A4B5C;
  margin-bottom: 25px;
  font-size: 45px;
}

.leftSide p {
  color: #6A7D8B;
  margin-bottom: 30px;
  font-size: 15.5px;
}

.leftSide input {
  width: 100%;
  padding: 12px 4px;
  margin-bottom: 20px;
  outline: 0;
  border-bottom: 2px solid #C7c7c7;
  transition: .2s;
}

.leftSide input:hover {
  border-bottom: 2px solid #1f5eaf;
}

.leftSide input:disabled {
  opacity: .5;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;

}

.leftSide button {
  cursor: pointer;
  font-size: 16px;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  background-color: #1f5eaf;
  transition: .2s;
}

.leftSide button:hover {
  opacity: .9;
}

.leftSide button:disabled {
  cursor: not-allowed;
  opacity: .5;
}


.rightSide {
  flex: 1;
  display: flex;
}

.rightSide .grid {
  flex: 1;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rightBig {
  flex: 1;
  display: flex
}

.rightArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #227c9d;
  cursor: pointer;
  width: 70px;
  height: 70px;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  margin-left: -35px;
  margin-top: 170px;
}

@media (max-width: 770px) {
  header {
    padding: 0px 20px;
  }
  .container {
    padding: 0px 20px;
    flex-direction: column
  }
  .leftSide {
    margin: 0;
    margin-bottom: 30px;
  }
  .rightArrow {
    margin: 0px;
    border-radius: 10px;
  }
}

@media (max-width: 425px) {
  .rightSide .grid {
    display: flex;
    flex-direction: column
  }

  .main {
    padding-bottom: 20px;
  }

  header {
    margin: 35px auto;
  }
}